:root {
  --bs-primary: #20ae4c;
}

.toolp-container{
  color: #20ae4c;
}

 

.slider-items{
 font-family: monaco,Consolas,Lucida Console,monospace; 
}

.example-container {
  /* Calculate height: Full screen minus the toolbar height */
  position: fixed;
  margin-top: 2rem;
  border: none;
}


/* This targets the internal Material content area specifically */
mat-drawer-content {
  overflow-x: hidden !important; /* Get rid of horizontal scroll */
  display: flex;
  flex-direction: column;
}

/* Makes the language selector fit nicely in the toolbar height */
.lang-select-field {
  width: 130px;
  font-size: 14px;
  margin-top: 15px; /* Adjust based on your toolbar padding */
}

/* Removes the extra padding Material adds below the select */
::ng-deep .lang-select-field .mat-mdc-text-field-wrapper {
  background-color: transparent!important;
  color: rgb(12, 12, 12) !important;
}

::ng-deep .lang-select-field .mat-mdc-select-value,
::ng-deep .lang-select-field .mat-mdc-floating-label {
  color: rgb(10, 10, 10) !important;
}

