
  <mat-toolbar class="fixed top-0 left-0 w-full bg-opacity-50 py-3 z-50 flex justify-between">
  <div class="flex items-center">
    <button mat-icon-button class="example-icon" aria-label="Menu icon" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <button routerLink="" (click)="drawer.close()" class="ml-4">
      <img src="/Ibo_Logo.png" class="w-16 h-16 rounded-2xl transition duration-300">
    </button>
  </div>

  <div class="flex items-center mr-4 pt-5">
    <mat-form-field appearance="outline" class="lang-select-field">
      <mat-label>
        <mat-icon style="vertical-align: middle;">language</mat-icon>
      </mat-label>
      <mat-select (selectionChange)="changeLanguage($event.value)" [value]="translate.currentLang">
        <mat-option value="en">
          <span class="flex items-center gap-2">🇬🇧  English</span>
        </mat-option>
        <mat-option value="pl">
          <span class="flex items-center gap-2">🇵🇱  Polski</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #drawer class="pt-1 example-container" mode="side">
    <button (click)="showFiller = !showFiller" matButton="elevated"></button>
    <mat-nav-list class="slider-items">
    <a mat-list-item routerLink="food" (click)="drawer.close()">
        {{ 'NAVBAR.FOOD' | translate }}
      </a>
      
      <a mat-list-item routerLink="drinks" (click)="drawer.close()">
        {{ 'NAVBAR.DRINKS' | translate }}
      </a>
      
      <a mat-list-item routerLink="contact" (click)="drawer.close()">
        {{ 'NAVBAR.CONTACTUS' | translate }}
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content >
  <div class="pt-10">
      <router-outlet></router-outlet>
  </div>
  </mat-drawer-content>
</mat-drawer-container>
