<div class="loader-container" *ngIf="isLoading">
 <div class="falafel-loader">
  <div class="falafel-wrapper ball-1">
    <img src="/falafelball-1.png" alt="falafel">
    <div class="shadow"></div>
  </div>
  <div class="falafel-wrapper ball-2">
    <img src="/falafelball-2.png" alt="falafel">
    <div class="shadow"></div>
  </div>
  <div class="falafel-wrapper ball-3">
    <img src="/falafelball-3.png" alt="falafel">
    <div class="shadow"></div>
  </div>
</div>
  <div class="countdown-text">Loading ... {{ countdown }} second</div>
</div>

<app-header></app-header>