<!-- Sabit Müzik Butonu
<button (click)="toggleMusic()" 
        class="fixed bottom-4 right-4 bg-red-600 text-white p-4 rounded-2xl shadow-xl hover:bg-red-700 transition-all duration-300 transform hover:scale-105 z-20">
  <i [class.fas]="!isPlaying" [class.fa-play]="!isPlaying" [class.fa-pause]="isPlaying"></i> 
</button>
-->
 
<app-header></app-header>

<div class="loader-container" *ngIf="isLoading">
  <div class="heart"></div>
  <div class="countdown-text">Loading ... {{ countdown }} sn</div>
</div>

<router-outlet *ngIf="!isLoading"></router-outlet>

<!-- HOŞGELDİN BÖLÜMÜ -->
<section id="home" class="flex flex-wrap justify-center gap-6 mt-10 bg-white/5 backdrop-blur-md p-4 rounded-2xl shadow-lg">
  <h1 class="italic text-5xl font-extrabold text-white mb-6">Ibo Falafel</h1>
  <p class="italic text-lg max-w-prose text-left text-white ">
    
  </p>
  <p class="italic text-base max-w-prose text-left text-white ">
   <br> 
   <br> 
   <br>  
   <br>  
   <br>  
   <br> 
   <br> 
   <br>
  </p>
</section>

<!-- GALERİ BÖLÜMÜ -->
<section id="gallery" class="flex flex-wrap justify-center gap-6 mt-10 bg-white/5 backdrop-blur-md p-4 rounded-2xl shadow-lg">
  <h2 class="text-3xl font-bold text-white text-center mb-8">Galeri</h2>
  <div class="flex flex-wrap justify-center gap-6 mt-10">
    <p class="italic text-lg justify-center max-w-prose text-left text-white ">Sałatka</p>
    <img 
      src="/photo1.jpg" 
      alt="Sałatka" 
      class="w-80 h-80 object-cover rounded-2xl transition duration-300" 
             (click)="toggleTransform(0)" 
             [ngClass]="{
    '-translate-y-2 rotate-1 scale-150': isTransformed[0],
    'rotate-2 scale-100': !isTransformed[0]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">kebab wegański</p>
    <img 
      src="/photo2.jpg" 
      alt="kebab wegański" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(1)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[1],
    '-rotate-3 scale-100': !isTransformed[1]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">Falafel i tortilla po grecku</p>
    <img 
      src="/photo3.jpg" 
      alt="Falafel i tortilla po grecku" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(2)" 
             [ngClass]="{
    '-translate-y-3 -rotate-1 scale-150': isTransformed[2],
    '-rotate-3 scale-100': !isTransformed[2]
  }"
    /><p class="italic text-lg justify-center max-w-prose text-center text-white ">Sok z granatów</p>
    <img 
      src="/photo4.jpg" 
      alt="Sok z granatów" 
      class="w-80 h-80 object-cover rounded-2xl transition duration-300" 
             (click)="toggleTransform(3)" 
             [ngClass]="{
    '-translate-y-2 -rotate-3 scale-150': isTransformed[3],
    '-rotate-2 scale-100': !isTransformed[3]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">Hummus z granatem</p>
    <img 
      src="/photo5.jpg" 
      alt="Hummus z granatem" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(4)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[4],
    '-rotate-3 scale-100': !isTransformed[4]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo6.jpg" 
      alt="--" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(5)" 
             [ngClass]="{
    '-translate-y-3 -rotate-1 scale-150': isTransformed[5],
    '-rotate-3 scale-100': !isTransformed[5]
  }"
    /><p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo7.jpg" 
      alt="--" 
      class="w-80 h-80 object-cover rounded-2xl transition duration-300" 
             (click)="toggleTransform(6)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[6],
    '-rotate-2 scale-100': !isTransformed[6]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo8.jpg" 
      alt="--" 
     class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(7)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[7],
    '-rotate-3 scale-100': !isTransformed[7]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo9.jpg" 
      alt="--" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(8)" 
             [ngClass]="{
    '-translate-y-3 -rotate-1 scale-150': isTransformed[8],
    '-rotate-3 scale-100': !isTransformed[8]
  }"
    /><p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo10.jpg" 
      alt="--" 
      class="w-80 h-80 object-cover rounded-2xl transition duration-300" 
             (click)="toggleTransform(9)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[9],
    '-rotate-2 scale-100': !isTransformed[9]
  }"
    />
    <p class="italic text-lg justify-center max-w-prose text-center text-white ">--</p>
    <img 
      src="/photo11.jpg" 
      alt="--" 
      class="w-80 h-80 object-cover rounded-2xl shadow-xl transition duration-300" 
             (click)="toggleTransform(10)" 
             [ngClass]="{
    '-translate-y-2 -rotate-1 scale-150': isTransformed[10],
    '-rotate-3 scale-100': !isTransformed[10]
  }"
    />
    
  </div>
</section>
<div id="game-container">
<!--OYUN BÖLÜMÜ-->
<section id="game" class="flex flex-wrap justify-center gap-6 mt-10 bg-white/5 backdrop-blur-md p-4 rounded-2xl shadow-lg">
  <h2 class="text-3xl font-bold text-white text-center mb-8">Game Section</h2>
  <app-game *ngIf="showGame"></app-game>
</section>
</div>

<!-- ANKET BÖLÜMÜ 
 <section id="survey"></section>
 <app-poll></app-poll>-->
 
