/* Sayfa yüklenirken görünen loader alanı */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* %90 beyaz, yani %10 şeffaf */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Container that holds the 3 balls */
.falafel-spinner {
  position: relative;
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
  margin: 20px auto;
}

/* Base style for all falafel balls */
.ball {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* Crunchy Falafel Texture: Deep brown with lighter spots */
  background: radial-gradient(circle at 7px 7px, #8d5524, #4e3115);
  box-shadow: inset -2px -2px 4px rgba(0,0,0,0.4), 2px 4px 6px rgba(0,0,0,0.2);
}

/* Positioning the 3 balls in a triangle */
.ball-1 { top: 0; left: 50%; transform: translateX(-50%); }
.ball-2 { bottom: 10%; left: 0; }
.ball-3 { bottom: 10%; right: 0; }

/* The Rotation Animation */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Optional: Make the balls "pulse" or bounce slightly while spinning */
.ball {
  animation: bounce 1.5s ease-in-out infinite alternate;
}

@keyframes bounce {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 243, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.main-wrapper {
  padding-top: 5rem; /* Adjust this value if your toolbar is taller */
  height: 100vh!important; 
  overflow-x: hidden !important; /* Get rid of horizontal scroll */
  display: flex;
  flex-direction: column;
}

.countdown-text {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c2b2b;
}
.about-us {
  background: #fafafa;
}

.about-container {
  
  margin: 0 auto;
  text-align: center;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us p {
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #444;
}