/* Sayfa yüklenirken görünen loader alanı */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* %90 beyaz, yani %10 şeffaf */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Container for the 3 balls */
.falafel-loader {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
}

.falafel-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Each ball runs the 'jump' sequence every 3 seconds */
  animation: jump 3s infinite;
}

.falafel-wrapper img {
  width: 60px; /* Adjust based on your image size */
  height: auto;
  z-index: 2;
}

/* The sequential delays */
.ball-1 { animation-delay: 0s; }
.ball-2 { animation-delay: 1s; }
.ball-3 { animation-delay: 2s; }

/* The Jump Animation */
@keyframes jump {
  0%, 20%, 100% { transform: translateY(0); } /* Stable state */
  10% { transform: translateY(-30px); }      /* The peak of the jump */
}

/* Realistic Shadow Effect */
.shadow {
  width: 40px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: 5px;
  filter: blur(2px);
  transition: transform 0.3s;
  animation: shadow-fade 3s infinite;
}

/* Sync the shadow with the jump */
.ball-1 .shadow { animation-delay: 0s; }
.ball-2 .shadow { animation-delay: 1s; }
.ball-3 .shadow { animation-delay: 2s; }

@keyframes shadow-fade {
  0%, 20%, 100% { transform: scale(1); opacity: 1; }
  10% { transform: scale(0.5); opacity: 0.4; } /* Shadow gets smaller/lighter when ball is high */
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 243, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.main-wrapper {
  padding-top: 5rem; /* Adjust this value if your toolbar is taller */
  height: 100vh!important; 
  overflow-x: hidden !important; /* Get rid of horizontal scroll */
  display: flex;
  flex-direction: column;
}

.countdown-text {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c2b2b;
}
.about-us {
  background: #fafafa;
}

.about-container {
  
  margin: 0 auto;
  text-align: center;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us p {
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #444;
}