/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playpen Sans', cursive;
}
html, body { height: 100%; margin: 0; overflow: hidden; /* This kills the outermost browser scrollbar */}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
